<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Library_Manage_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Library_Manage_System.Properties.Settings.informationDbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\PROJETS_ALL\Library_Manage_System\Library_Manage_System\StudentDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Library_Manage_System.Properties.Settings.infoDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\PROJETS_ALL\Library_Manage_System\Library_Manage_System\StudentDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Library_Manage_System.Properties.Settings.StudentDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\PROJETS_ALL\Library_Manage_System\Library_Manage_System\StudentDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Library_Manage_System.Properties.Settings.StudentDBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\PROJETS_ALL\Library_Manage_System\Library_Manage_System\StudentDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Library_Manage_System.Properties.Settings.StudentDBConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\PROJETS_ALL\Library_Manage_System\Library_Manage_System\StudentDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Library_Manage_System.Properties.Settings.StudentDBConnectionString3"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\PROJETS_ALL\Library_Manage_System\Library_Manage_System\StudentDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Library_Manage_System.Properties.Settings.StudentDBConnectionString4"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\PROJETS_ALL\Library_Manage_System\Library_Manage_System\StudentDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Library_Manage_System.Properties.Settings.StudentDBConnectionString5"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\PROJETS_ALL\Library_Manage_System\Library_Manage_System\StudentDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Library_Manage_System.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\PROJETS_ALL\Library_Manage_System\Library_Manage_System\StudentDB.mdf;Integrated Security=True</value>
            </setting>
        </Library_Manage_System.Properties.Settings>
    </userSettings>
</configuration>